<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/medical_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/medical_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicalBooking"
        tools:targetApi="31">
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="https"
                    android:host="medicalbooking-2d285.firebasestorage.app"
                    android:pathPrefix="/__/auth/links" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.RegistrationActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.ProfileActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.HomeActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.BookAppointmentActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.UpcomingAppointmentsActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.TreatmentHistoryActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.MedicationReminderActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.HospitalLocatorActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.NotificationsActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.SettingsActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.AddMedicineReminderActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.DoctorHomeActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.UpdateTreatmentActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.TreatmentDetailActivity" android:launchMode="singleTask"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${googleMapsKey}" />
    </application>

</manifest>